
.box_office {
  display: flex;
  gap: 40px;
}
.box_office_card {
  position: relative;
  width: 245px;
  border-radius: 5px;
  overflow: hidden;
}
/* front */
.poster {
  height: 352px;
}
.rank {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
  text-shadow: 2px 2px 2px #000;
}
.screen_type {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 60px;
}
.grade {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 28px;
}
/* back */
.score {
  position: absolute;
  bottom: 24px;
  width: calc(100% - 48px);
  padding-top: 8px;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, .2);
}
.score span {
  color: #59bec9;
  font-size: 1.5rem;
  margin-left: 16px;
}
/* btn */
.btn {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}
/* like */
.like {
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 100px;
  /* height: 34px; */
}
.like i {
  margin-right: 4px;
}
.reservation_link {
  width: 100%;
  background: #037b94;
  border-radius: 5px;
  text-align: center;
  padding: 6px;
  /* line-height: 34px; */
}
/* y축 회전 */
.inner {
  position: relative;
  height: 352px;
  perspective: 1000px;
  /* 원근감 */
}
.inner:hover {
  cursor: pointer;
}
.front,
.back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: .5s;
}
.front {
  transform: rotateY(0deg);
}
.back {
  transform: rotateY(180deg);
  padding: 24px;
  color: #fff;
  background: rgba(0, 0, 0, .7);
  /* 뒷면 숨기기 */
  backface-visibility: hidden;
}
/* 호버시 뒤집기 */
.inner:hover .front {
  transform: rotateY(180deg);
}
.inner:hover .back {
  transform: rotateY(360deg);
}